
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoBookPage</title>
</head>
<body>
    <div>
        @Html.Partial("_NoBook404Partial") 
    </div>
</body>
</html>
